body{ 
	background-color: #f9f7cf;
;
	color:#c24914;
	font-family: Times;
	letter-spacing: 1px; 
	font-size: 16px;
	font-weight: bolder;}

h1{ color: #a685e2;
	font-size: 30px;
	font-family: oswald, sans-serif;
	font-weight: bolder; }

h2{  color: #222831;
	font-size: 24px;
	font-weight: 600;
	font-family: londrina solid,cursive;
	letter-spacing: 5px; }

a{  text-decoration: none;
	color: #a685e2;
	font-weight:bold;}
a:hover { color: blue; }

@media (max-width: 540px) 
{ .title{ width: 300px } }

@media (max-width: 720px) 
{ .title{ width: 500px } }

@media (max-width: 960px)
{.title {width: 700px;}}



.leppo{ box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
		border-radius: 50;}
.btn-blue{ background-color: #ffc75f;
		   padding: 15px 20px;
		   border-radius: 4px; }
.btn-blue:hover{ background-color: black; }
.text{background:  white;
	  padding: 40px; 
	  margin: 20px 0px;
	  box-shadow: 0px 10px 30px rgba( 0,0,0,0.1px);
	  border-radius: 4px;
	  text-align: center;
	  border: 1px solid lightgrey;}
.title{ width: 700px;
	    margin: 40px auto}
.line-inline{ list-style: none;
			  padding-left: 0px; }
.line-inline li{ display: inline;
				padding:  15px; }

.line-inline i{ font-size: 50px; }
.line-inline i:hover{ background-color: black; }
#introduction p{ margin-bottom: 40px;s }